

body {

	height: 100vh;
}

.main__container {
  display: flex;
}

.list {
  display: flex;
  list-style: none;

}

.face-up {

  width: 160px;
  height: 195px;
  
  margin: 0;
  border-radius: 5px;
  margin: 10px;
}

.hidden {
  visibility: hidden;
}


.face-down {

  border-radius: 5px;
  margin: 10px;
  width: 160px;
  height: 195px;
  background-image: url('https://via.placeholder.com/160x195/30d9c4/ffffff/?text=ADALAB');
}



