@import 'core/settings';

body {

	height: 100vh;
}

.main__container {
  display: flex;
}

.list {
  display: flex;
  list-style: none;

}

.face-up {

  width: 160px;
  height: 195px;
  border: solid black 2px;
  margin: 0;
  border-radius: 5px;
  margin: 10px;
}

.hidden {
  visibility: hidden;
}



.face-down {
  border: solid black 2px;
  border-radius: 5px;
  margin: 10px;
  background-image: url('https://via.placeholder.com/160x195/30d9c4/ffffff/?text=ADALAB');
}


// .results__cards {
//   display: flex;
//   flex-direction: column;

// }
