<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="assets/css/main.css">
  <title>Document</title>
</head>
<body>
<h1>El juego de las parejas</h1>
<main class="main__container">
<form action="">
  <label for="select">4</label>
  <input type="radio" name="select" id="four" value="4">
  <label for="select">6</label>
  <input type="radio" name="select" id="six" value="6">
  <label for="select">8</label>
  <input type="radio" name="select" id="eight" value="8">
</form>
<button type="submit" class="btn">Comenzar</button>
</main>
<div class="results__cards">
<ul class="list"></ul>

</div>
  <script type="text/javascript" src="assets/js/main.js"></script>
</body>
</html>
